@import "vars"
@import "fonts"

body
	margin: 0

.chart-body
	font-family: "Arial", sans-serif
	font-size: 16px
	height: 100vh 

.chart-container 
	max-width: 95vw 
	margin: 0 auto 
	width: 992px
.chart-header 
	padding-top: 10px
	padding-bottom: 10px 
	box-shadow: 0px 2px 2px rgba(#000, 0.1)
	//position: fixed 
	top: 0 
	left: 0 
	width: 100%
	z-index: 999
	height: auto
	background: #fff
	box-sizing: border-box
	background: #517da2
	transition: all 0.3s
.chart-header.sticky
	position: fixed
	padding-top: 5px
	padding-bottom: 5px

	.user-photo
		width: 50px
		height: 50px 
		min-width: 50px
		border-radius: 50%
		transition: all 0.5s
		position: relative

		img 
			min-width: 100%
			height: auto
			//transition: all 0.3s
	.chart__start-date,
	.chart__user-state,
	.chart__user-age 
		display: none
	
.user-photo
	width: 80px
	height: 100px 
	overflow: hidden 
	display: flex 
	justify-content: center 
	align-items: center	
	margin-right: 15px
	position: relative
	.msg-status 
		position: absolute
		bottom: 5px 
		right: 0
		img 
			height: 10px
	img 
		height: 100% 
		width: auto
		border-radius: 15px
.chart-header 
	.chart-container
		display: flex
		align-items: center
.chart__user-info 
	display: flex
	align-items: center
.chart__user-state
	width: 10px 
	height: 10px
	border-radius: 50%
	margin-left: 9px
.chart__user-state--online 
	background: #52b741
.chart__user-state--ofline
	background: #7b7e7b
.chart__user-state--no-active
	background: #f4e430
.chart__user-name
	font-size: 22px
	color: #fff
.chart__user-age
	font-size: 22px
	font-weight: 600
	color: #fff
.chart-footer
	background: #fff
	position: fixed 
	bottom: 0 
	width: 100%
	padding-bottom: 10px
	padding-top: 10px
	z-index: 999
	box-shadow: 0px -2px 2px rgba(#000, 0.1)
	.chart-container 
		display: flex 
		align-items: center 
		justify-content: space-between
.send__btn
	width: 45px
	min-width: 45px
	height: 45px 
	border-radius: 50%
	background: linear-gradient(46.19deg, #39D8F2 0%, #157BD3 99.28%)
	display: flex 
	justify-content: center 
	align-items: center
	cursor: pointer
	margin-left: 5px
	img 
		width: 50%
.add-photo-btn
	margin-right: 5px
	img 
		width: 45px
		min-width: 45px
		height: 45px
.add-photo-input 
	display: none
.text-input
	width: calc(100% - 110px)
	height: 40px
	border-radius: 40px
	border: 1px solid rgba(#636363, 0.8)
	padding: 0 15px
	outline: none
.chart__start-date
	margin-top: 5px
	color: #fff
	font-size: 14px
.chart__content
	//height: 100vh 
	//padding-top: 130px
	padding-bottom: 100px
	box-sizing: border-box
	overflow-y: auto
	background: #c5d0d7
	.chart-container 
		display: flex 
		flex-direction: column
.text-right
	align-self: flex-end
	background: #ebffd5
	max-width: 80%
	padding: 10px 15px
	border-radius: 20px
	border-bottom-right-radius: 4px
	padding-bottom: 5px
.message-date
	color: rgba(#636363, 0.8)
	padding: 5px 0
	text-align: center
	margin-bottom: 5px
.text-left
	background: #ffffff
	max-width: 80%
	padding: 10px 15px
	border-radius: 20px
	border-bottom-left-radius: 4px
	padding-bottom: 5px
.chart-row
	display: flex 
	flex-direction: column
	width: 100% 
	margin-bottom: 10px
.msg-status
	font-size: 12px
	color: rgba(#636363, 0.8)
.msg-status--right
	text-align: right
	padding-top: 4px
.msg-status--left
	display: flex 
	align-items: center
	padding-top: 4px
	img 
		width: 10px
		margin-right: 2px
.text-right--photo,
.text-left--photo 
	padding: 0
	background: transparent
	.user-photo
		width: 150px
		height: 200px
.text-left--photo .user-photo
	border-radius: 15px
	border-bottom-left-radius: 1px
.text-right--photo .user-photo
	border-radius: 15px
	border-bottom-right-radius: 1px
.text-left,
.text-right
	margin-bottom: 4px
.msg-status
	color: #5ea65a
.tick
	height: 10px
.text-left
	.msg-status
		color: rgba(#636363, 0.8)
.msg-status--left
	color: rgba(#636363, 0.8)
@import "media"



